/*-- scss:defaults --*/
$divider-color: #424246;

$font-family-sans-serif:      Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$headings-font-weight:        400 !default;


/*-- scss:rules --*/

.teaching .course-title a {
  color: #0d6efd;
  text-decoration: underline;

  &:hover {
    color: #0a58ca;
  }
}
